# dependencies
node_modules
.pnp
.pnp.js

# builds
dist
build
.next
out

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# prisma
apps/server/prisma/migrations/

# test
coverage
